<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{range .Pages}}

    {{if eq .Type "normal"}}
        <div class="large-album-page"> 
            {{range .Elements}}
            <img 
                class="album-element"
                src="{{.Src}}"
                alt="{{.Alt}}"
                style="
                    width: {{.Width}}%;
                    height: {{.Height}}%;
                    top: {{.Top}}%;
                    left: {{.Left}}%;
                "
            />
            {{end}}
            <p class="water-mark">FOR DEMO PURPOSES ONLY</p>
        </div>
    {{else}}
        <div class="album-page">
            {{range .Elements}}
            <img 
                class="album-element"
                src="{{.Src}}"
                alt="{{.Alt}}"
                style="
                    width: {{.Width}}vw;
                    height: {{.Height}}vh;
                    top: {{.Top}}vh;
                    left: {{.Left}}vw;
                "
            />
            {{end}}
            <p class="water-mark">FOR DEMO PURPOSES ONLY</p>
        </div>
    {{end}}
    {{end}}
</body>
</html>