body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.photos {
    display: flex;
    flex-direction: column;
}

.photo {
    page-break-after: always;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.photo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@page standard {
    margin: 0;
    size: 512px 512px;
}

@page largePage {
    margin: 0;
    size: 1024px 512px;
}

.album-page {
    position: relative;
    page: standard;
    page-break-after: always;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.large-album-page {
    position: relative;
    page: largePage;
    page-break-after: always;
    overflow: hidden;
    width: 200vw;
    height: 100vh;
}

.album-element {
    position: absolute;
    object-fit: cover;
}

.water-mark {
    position: relative;
    top: 0;
    left: 0;
    font-size: xx-small;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    z-index: 50;
}